<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>reservation</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
         CSS
         ============================================= -->
    <link rel="stylesheet" href="../css/linearicons.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/nice-select.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/owl.carousel.css">
    <link rel="stylesheet" href="../css/main.css">
    <style>
    table {
        width: 100%;
        border-top: 1px solid #444444;
        word-break: break-all;
    }

    th,
    td {
        border-bottom: 1px solid #444444;
        padding: 5px;
        text-align: center;
    }

    th {
        font-size: 18px;
        background-color: #f8b600;
        color: white;
    }

    thead tr {
        font-size: 15px;
        background-color: #f8b600;
        color: #bbdefb;
    }

    tbody tr:nth-child(2n) {
        background-color: #bbdefb;
    }

    tbody tr:nth-child(2n+1) {
        background-color: #e3f2fd;
    }
    </style>
</head>

<body>
    <!-- #header -->
    <%include header.html%>
        <!-- start banner Area -->
        <section class="relative about-banner">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="about-content col-lg-12">
                        <h1 class="text-white"> 판매자 리스트 </h1>
                    </div>
                </div>
            </div>
        </section>
        <form action="/sale_product_update" method="get">
            <section class="post-content-area single-post-area">
                <div class="container">
                    <div class="row">
                        <table class="table-header-group" width="100%" border="0">
                            <tr>
                                <th ">ID</th>
                                <th>이름</th>
                                <th>전화번호</th>
                                <th>이메일</th>
                            </tr class="table-body-group">
                            <tbody>
                                <%
                for(var i=0;;i++){
                  if(seller[i] == undefined){
                    break;
                  }
                %>
                                    <tr>
                                        <td>
                                            <%=seller[i].seller_id%> </a>
                                        </td>
                                        <td>
                                            <%=seller[i].seller_name%>
                                        </td>
                                        <td>
                                            <%=seller[i].seller_phone%>
                                        </td>
                                        <td>
                                            <%=seller[i].seller_email%>
                                        </td>
                                    </tr>
                            </tbody>
                            <%}%>
                        </table>
                    </div>
                </div>
            </section>
        </form>
</body>

</html>