<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="colorlib">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Travel</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/jquery-ui.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
    <!-- #header -->
	<% include header.html %>

    <!-- start banner Area -->
    <section class="banner-area relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen align-items-center justify-content-between">
                <div class="col-lg-5 col-md-6 banner-left">
                    <h1 class="text-white">로그인</h1>
                    <p class="text-white">
                        회원이 되면 더 많을 기능을 이용할 수 있습니다.
                    </p>
                    <br>
                    <button class="primary-btn" id="join_button" onclick="location.href='/joinForm'">회원가입</button>
                </div>
                <div class="col-lg-5 col-md-6 banner-right">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#login_customer" id="customer-tab" data-toggle="tab" role="tab" aria-controls="customer" aria-selected="true">소비자</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#login_seller" id="seller-tab" data-toggle="tab" role="tab" aria-controls="seller" aria-selected="false">판매자</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <!-- 소비자 로그인창 -->
                        <div class="tab-pane fade show active" id="login_customer" role="tabpanel" aria-labelledby="login_customer">
                            <form class="form-wrap" method="post" onsubmit="return onWriteSubmit()" action="/index/login">
                                <div class="form-group col-md-12">
                                    <input type="text" class="form-control" id="user_id" name="user_id" placeholder="ID" required/>
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="password" class="form-control" id="user_passwd" name="user_passwd" placeholder="Password" required/>
                                </div>
                                <div class="form-check form-check-inline" style="display: none">
                                    <input class="form-check-input" type="radio" id="user_type" name="user_type" value="customer" checked>
                                </div>
                                <button class="primary-btn" type="submit" id="customer_button">Sign in</button>
                            </form>
                        </div>
                        <!-- 판매자 로그인창 -->
                        <div class="tab-pane fade" id="login_seller" role="tabpanel" aria-labelledby="login_customer">
                            <form class="form-wrap" method="post" onsubmit="return onWriteSubmit()" action="/index/login">
                                <div class="form-group col-md-12">
                                    <input type="text" class="form-control" id="user_id" name="user_id" placeholder="ID" required/>
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="password" class="form-control" id="user_passwd" name="user_passwd" placeholder="Password" required/>
                                </div>
                                <div class="form-check form-check-inline" style="display: none">
                                    <input class="form-check-input" type="radio" id="user_type" name="user_type" value="seller" checked>
                                </div>
                                <button class="primary-btn" type="submit" id="seller_button">Sign in</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-8 col-sm-12 footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                    document.write(new Date().getFullYear());
                    </script> All rights reserved | This template is made with
                    <i class="fa fa-heart-o" aria-hidden="true"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <br> Copyright &copy;
                    <script>
                    document.write(new Date().getFullYear());
                    </script> All rights reserved | This template is made with by Kwangwoon Software Engineering TEAM</a>
                    <div class="col-lg-4 col-sm-12 footer-social">
                        <a href="http://www.facebook.com">
                     <i class="fa fa-facebook"></i>
                  </a>
                        <a href="#">
                     <i class="fa fa-twitter"></i>
                  </a>
                        <a href="#">
                     <i class="fa fa-dribbble"></i>
                  </a>
                        <a href="#">
                     <i class="fa fa-behance"></i>
                  </a>
                    </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->
    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/easing.min.js"></script>
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/main.js"></script>
</body>

</html>