<!DOCTYPE html>
  <head>
    <title>Order Form</title>
    <script language="javascript" type="text/javascript" src="https://api.paygate.net/ajax/common/OpenPayAPI.js">
    </script>
    <script type="text/javascript" src="/script/order.js"></script>
  </head>

  <body>
  </body>